[submodule "src/hal"]
	path = src/hal
	url = https://github.com/ET0735-DevOps-AIoT/hal
[submodule "hal"]
	path = hal
	url = https://github.com/ET0735-DevOps-AIoT/hal
[submodule "SPI-Py"]
	path = SPI-Py
	url = https://github.com/lthiery/SPI-Py
